description = "CUDA enabled builder for Renku frontends and environments."

[[build.env]]
name = "BP_RENKU_FRONTENDS"
value = "vscodium"

[[buildpacks]]
  uri = "../../buildpacks/renku-variables"
  version = "0.2.3"

[[buildpacks]]
  uri = "../../buildpacks/vscodium"
  version = "0.2.3"

[[buildpacks]]
  uri = "../../buildpacks/conda-nodefaults"
  version = "0.2.3"

[[buildpacks]]
  uri = "../../buildpacks/kernel-installer"
  version = "0.2.3"

[[buildpacks]]
  uri = "../../buildpacks/jupyterlab"
  version = "0.2.3"

[[buildpacks]]
  uri = "../../buildpacks/ttyd"
  version = "0.2.3"

[[buildpacks]]
  uri = "../../buildpacks/python-dependency-manager"
  version = "0.2.3"

[[buildpacks]]
  uri = "../../buildpacks/r"
  version = "0.2.3"

[[buildpacks]]
  uri = "../../buildpacks/renv"
  version = "0.2.3"

[[buildpacks]]
  uri = "../../buildpacks/rstudio"
  version = "0.2.3"

[[buildpacks]]
  uri = "../../buildpacks/init-scripts"
  version = "0.2.3"

[[buildpacks]]
  uri = "docker://docker.io/paketobuildpacks/python:2.38.0"
  version = "2.38.0"

[[buildpacks]]
  id = "paketo-buildpacks/miniconda"
  uri = "docker://docker.io/paketobuildpacks/miniconda:0.11.5"
  version = "0.11.5"

[[buildpacks]]
  id = "heroku/deb-packages"
  uri = "docker://docker.io/heroku/buildpack-deb-packages:0.2.0"
  version = "0.2.0"

[[extensions]]
  uri="../../extensions/r-deps"
  version= "0.2.3"

[lifecycle]
  version = "0.20.19"

[[order]]

  [[order.group]]
    id = "renku/conda-nodefaults"
    version = "0.2.3"
    optional = true
  [[order.group]]
   id = "paketo-buildpacks/miniconda"
   version = "0.11.5"
  [[order.group]]
    id = "paketo-buildpacks/python"
    version = "2.38.0"
  [[order.group]]
    id = "renku/python-dependency-manager"
    version = "0.2.3"
  [[order.group]]
    id = "renku/renku-variables"
    version = "0.2.3"
  [[order.group]]
    id = "renku/jupyterlab"
    version = "0.2.3"
  [[order.group]]
    id = "renku/kernel-installer"
    version = "0.2.3"
  [[order.group]]
    id = "heroku/deb-packages"
    version = "0.2.0"
    optional = true
  [[order.group]]
    id = "renku/init-scripts"
    version = "0.2.3"
    optional = true

[[order]]
  [[order.group]]
    id = "renku/conda-nodefaults"
    version = "0.2.3"
    optional = true
  [[order.group]]
    id = "paketo-buildpacks/python"
    version = "2.38.0"
  [[order.group]]
    id = "renku/python-dependency-manager"
    version = "0.2.3"
  [[order.group]]
    id = "renku/renku-variables"
    version = "0.2.3"
  [[order.group]]
    id = "renku/ttyd"
    version = "0.2.3"
  [[order.group]]
    id = "heroku/deb-packages"
    version = "0.2.0"
    optional = true
  [[order.group]]
    id = "renku/init-scripts"
    version = "0.2.3"
    optional = true

[[order]]

  [[order.group]]
    id = "renku/conda-nodefaults"
    version = "0.2.3"
    optional = true
  [[order.group]]
    id = "paketo-buildpacks/python"
    version = "2.38.0"
  [[order.group]]
    id = "renku/python-dependency-manager"
    version = "0.2.3"
  [[order.group]]
    id = "renku/renku-variables"
    version = "0.2.3"
  [[order.group]]
    id = "renku/vscodium"
    version = "0.2.3"
  [[order.group]]
    id = "heroku/deb-packages"
    version = "0.2.0"
    optional = true
  [[order.group]]
    id = "renku/init-scripts"
    version = "0.2.3"
    optional = true

[[order]]

  [[order.group]]
   id = "renku/r"
   version = "0.2.3"
  [[order.group]]
    id = "renku/renku-variables"
    version = "0.2.3"
  [[order.group]]
    id = "renku/renv"
    version = "0.2.3"
  [[order.group]]
    id = "renku/rstudio"
    version = "0.2.3"
  [[order.group]]
    id = "heroku/deb-packages"
    version = "0.2.0"
    optional = true
  [[order.group]]
    id = "renku/init-scripts"
    version = "0.2.3"
    optional = true

[[order-extensions]]
[[order-extensions.group]]
  id = "renku/r-deps"
  version = "0.2.3"
  optional = true

[build]
  image = "ghcr.io/swissdatasciencecenter/renku-frontend-buildpacks/cuda-build-image:0.2.3"

[run]
[[run.images]]
  image = "ghcr.io/swissdatasciencecenter/renku-frontend-buildpacks/cuda-run-image:0.2.3"
  mirrors = []

[[targets]]
  os = "linux"
  arch = "amd64"

[[targets]]
  os = "linux"
  arch = "arm64"
