name: Run Tests

on:
  push:

env:
  DEVCONTAINER_REGISTRY: ghcr.io
  DEVCONTAINER_IMAGE_NAME: ${{ github.repository }}/devcontainer
  DEVCONTAINER_IMAGE_TAG_MAIN: "cache-main"

defaults:
  run:
    shell: bash

permissions:
  contents: read
  packages: write

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build-devcontainer:
    runs-on: ubuntu-24.04
    outputs:
      image_repository: ${{ steps.docker_image.outputs.image_repository }}
      image_tag: ${{ steps.docker_image.outputs.image_tag }}
    steps:
      - uses: actions/checkout@v4
      - name: Docker image metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.DEVCONTAINER_REGISTRY }}/${{ env.DEVCONTAINER_IMAGE_NAME }}
          tags: |
            type=ref,event=pr,prefix=cache-pr-,priority=600
            type=ref,event=branch,prefix=cache-,priority=500
            type=ref,event=tag,prefix=cache-,priority=500
          flavor: |
            latest=false
      - name: Extract Docker image name
        id: docker_image
        env:
          IMAGE_TAGS: ${{ steps.meta.outputs.tags }}
        run: |
          IMAGE=$(echo "$IMAGE_TAGS" | cut -d" " -f1)
          IMAGE_REPOSITORY=$(echo "$IMAGE" | cut -d":" -f1)
          IMAGE_TAG=$(echo "$IMAGE" | cut -d":" -f2)
          echo "image=$IMAGE" >> "$GITHUB_OUTPUT"
          echo "image_repository=$IMAGE_REPOSITORY" >> "$GITHUB_OUTPUT"
          echo "image_tag=$IMAGE_TAG" >> "$GITHUB_OUTPUT"
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Pre-build devcontainer
        uses: devcontainers/ci@v0.3
        continue-on-error: true
        with:
          push: always
          skipContainerUserIdUpdate: false
          imageName: ${{ steps.docker_image.outputs.image_repository }}
          imageTag: ${{ steps.docker_image.outputs.image_tag }}
          cacheFrom: |
            ${{ steps.docker_image.outputs.image_repository }}:${{ steps.docker_image.outputs.image_tag }}
            ${{ steps.docker_image.outputs.image_repository }}:${{ env.DEVCONTAINER_IMAGE_TAG_MAIN }}

  tests:
    runs-on: ubuntu-24.04
    needs:
      - build-devcontainer
    outputs:
      run_image_with_tag: ${{ steps.set_run_image_tag.outputs.RUN_IMAGE_WITH_TAG }}
      tag: ${{ steps.set_run_image_tag.outputs.TAG }}
    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          driver: docker-container

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set run image tag
        id: set_run_image_tag
        run: |
          REPO=${GITHUB_REPOSITORY@L}
          TAG=$(git describe --exact-match --tags 2>/dev/null || git rev-parse HEAD | cut -c -7)
          RUN_IMAGE_WITH_TAG="${REPO}/run-image:${TAG}"
          echo "TAG=$TAG" >> "$GITHUB_OUTPUT"
          echo "RUN_IMAGE_WITH_TAG=$RUN_IMAGE_WITH_TAG" >> "$GITHUB_OUTPUT"

      - name: Build and push run-image
        uses: docker/build-push-action@v5
        with:
          context: ./run-image
          file: ./run-image/Dockerfile
          platforms: linux/amd64
          target: run
          push: true
          tags: ghcr.io/${{ steps.set_run_image_tag.outputs.RUN_IMAGE_WITH_TAG }}
          labels: io.buildpacks.base.distro.name=ubuntu,io.buildpacks.base.distro.version=24.04
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Run linting
        id: lint
        uses: devcontainers/ci@v0.3
        with:
          runCmd: |
            make lint
          push: never
          skipContainerUserIdUpdate: false
          cacheFrom: ${{ needs.build-devcontainer.outputs.image_repository }}:${{ needs.build-devcontainer.outputs.image_tag }}

      - name: Run tests with custom run image
        id: tests
        uses: devcontainers/ci@v0.3
        with:
          runCmd: |
            # Update the image in builder.toml
            sed -i '/^\[\[run\.images\]\]$/,/^\[.*\]$/ {
              /^\[\[run\.images\]\]$/b
              /^\[.*\]$/b
              s|^\([[:space:]]*image[[:space:]]*=[[:space:]]*"\)\([^":]*\)\(:[^"]*\)\"|\1\2:'"${{ steps.set_run_image_tag.outputs.TAG }}"'\"|
            }' builders/selector/builder.toml
            cat builders/selector/builder.toml # Print for debugging
            make tests
          push: never
          skipContainerUserIdUpdate: false
          cacheFrom: ${{ needs.build-devcontainer.outputs.image_repository }}:${{ needs.build-devcontainer.outputs.image_tag }}
